# テストパス、スマホ版（例）
TEST_IPHONE_PATH = C:\Users\taiki\Desktop\ColorConstancy_data

# Onedrive接続するパス（例）
OneDrive_DATA_PATH      = C:\Users\taiki\OneDrive_SuwaTokyoUniversityOfScience\LearningColorConstancy_IPhone\data
OneDrive_RAW_PNG_PATH   = C:\Users\taiki\OneDrive_SuwaTokyoUniversityOfScience\LearningColorConstancy_IPhone\rawpng
Onedrive_GAMMA_PNG_PATH = C:\Users\taiki\OneDrive_SuwaTokyoUniversityOfScience\LearningColorConstancy_IPhone\gammapng
Onedrive_TRASH_BOX_PATH = C:\Users\taiki\OneDrive_SuwaTokyoUniversityOfScience\LearningColorConstancy_IPhone\TrashBox


#discord
DISCORD_CHANNEL_ID = 
DISCORD_TOKEN = 